#wrap {
    background-color: rgb(83, 192, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li::first-letter {
    font-size: 26px;
}

li {
    margin: -3px;
}